.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    padding-top: 60px; /* Place content 60px from the top */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    background-color: #DCA600;
    color: black;
}

.pagecontent {
    margin-left: 300px;
    padding: 20px;
}

/*
AJAX Request
*/
.ajax_request #submitbutton {
  background-color: #DCA600;
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 10px;
}

/*
CSS3 Transition
Designing, Defining, and Triggering CSS3 Transitions without Custom Libraries
*/
.c3transition #box {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-transition: background-color 2s, width 1s, height 1s, margin 2s;
  transition: background-color 2s, width 1s, height 1s, margin 2s;
}

.c3transition #box:hover {
  background-color: blue;
  width: 400px;
  height: 500px;
}

.c3transition input:focus {
	background-color: yellow;
    transition: background-color 1s;
}


/*
CSS3 Transform Page
Designing, Defining, and Triggering CSS3 Transitions without Custom Libraries
*/
.c3transform #box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.c3transform #box:hover {
  background-color: blue;
  width: 400px;
  height: 500px;
}

.c3transform input:focus {
	background-color: yellow;
}

/*
CSS3 animation Page
Designing, Defining, and Triggering CSS3 Transitions without Custom Libraries
*/
.c3animations #box {
  width: 200px;
  height: 200px;
  background-color: red;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  -ms-transition: width 1s ease, height 1s ease;
  transition: width 1s ease, height 1s ease;
}

.c3animations #box:active {
  background-color: blue;
  width: 500px;
  height: 500px;
}

.c3animations input:focus {
	background-color: yellow;
}



/*
JS triggered events using css
*/

.jstriggeranim #thebox {
  margin: 25px;
  width: 550px;
  height: 100px;
  background: #41B3A3;
  position: relative;
  font-size: 40px;
  text-align: center;
}

.jstriggeranim #mobilebox {
  margin: 25px;
  width: 10%;
  height: 100px;
  background: #41B3A3;
  position: relative;
  font-size: 40px;
  text-align: center;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes movebox {
  from {top: 0px;}
  to {top: 300px;}
}

@keyframes movebox {
  from {top: 0px;}
  to {top: 300px;}
}
